apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jenkins-deployment
  namespace: jenkins
spec:
  interval: 12h
  chart:
    spec:
      chart: jenkinsci/jenkins
      version: '5.8.*'
      sourceRef:
        kind: HelmRepository
        name: jenkinsci
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  